@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  caret-color: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #001c35;
  }
}

.EasyMDEContainer .editor-toolbar {
  border: none !important;
}

.EasyMDEContainer .CodeMirror {
  border: none !important;
  border-radius: 10px !important;
  background: #1e364a;
  color: white;
  padding: 10px;
  caret-color: dodgerblue;
}

.editor-preview {
  background-color: #001c35 !important;
}

::selection {
  color: white !important;
  background: dodgerblue !important ;
}

.CodeMirror-lines::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.CodeMirror
  .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background-color: transparent !important;
}

pre {
  padding: 20px;
  background-color: #001c35;
}

blockquote {
  border-left: 2px solid #001c35;
  border-radius: 10px;
  padding-left: 20px;
  margin-left: 0px;
}

@layer components {
  .labels {
    @apply text-2xl;
  }
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  color: darkgray;
  margin-right: 0;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
}

@media (max-width: 640px) {
  .prose :where(img):not(:where([class~="not-prose"] *)) {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
  }
}

@media (max-width: 395px) {
  .prose :where(img):not(:where([class~="not-prose"] *)) {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    padding: 0 15px;
  }
}

@media (max-with: 400px) {
  .prose {
    width: 100%;
  }
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: white !important;
  font-weight: 600;
}
